.card{
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px ;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: gold;
  color: white;
  
}
/* .card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 60%;
  margin-bottom: 10px;
} */
.card-title{
  font-family: arial,sans-serif;
  margin: 0;
  color: rgb(100, 206, 141);

}
.card-para{
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
}
.button{
  background-color: hsl(200,100%,50%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.welcome-message{
  font-size: 2.5em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-promt{
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;


}

