.card{
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px ;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  background-color: gold;
  color: white;
  
}
/* .card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 60%;
  margin-bottom: 10px;
} */
.card-title{
  font-family: arial,sans-serif;
  margin: 0;
  color: rgb(100, 206, 141);

}
.card-para{
  font-family: Arial, Helvetica, sans-serif;
  color: gold;
}
.button{
  background-color: hsl(200,100%,50%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.welcome-message{
  font-size: 2.5em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-promt{
  font-size: 2.5em;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;


}
.food-item{
  background-color: antiquewhite;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.food-description{
  font-size: 1.2em;
  margin: 10px 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: black;

}

.list-category{
  font-size: 1.5em;
  margin: 10px 0;
  padding: 0;
  border: none;
  background-color: beige;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}
.list-item{
  font-size: 20px;
  padding: 10px;
  margin: 10px;

}
.food-items{
  background-color: rgb(129, 178, 178);
}
.counter-container{

  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.count-display{
  font-size: 3em;
  
}
.counter-button{
  background-color: hsl(200,100%,50%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 10px;
}
.counter-button:hover{
  background-color: darkgray;
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
h1{
  font-size: 2em;
  
}
.color-display{
  display:flex;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid gray;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s ease-in-out;

}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}
h1{
  font-size: 4rem;
}
button{
  background-color: hsl(200,100%,50%);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.5 ease;
}
.add-button{
  background-color: green;
}
.Delete-button{
  background-color: red;
}
.Delete-button:hover{
  background-color: darkred;
}
.Move-button{
  background-color: rgb(100, 100, 210);
}
.Down-button{
  background-color:rgb(100, 100, 210);
}
input[type="text"]{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  color: gray;
}
ol{
  
justify-items: center;
  font-family: Arial, Helvetica, sans-serif;
  
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  
  margin-bottom: 20px;

}
li{
  
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  
  border-bottom: 1px solid lightgray;
  


}
text{
  flex: 1;
  
}
.Delete-button, .Move-button,.Down-button{
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.5 ease;

}

.clock-container{

}
.clock{
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
}
.box{
  border: 2px solid red;
  padding: 20px;
}